// The ui-variables file is provided by base themes of Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

@contain_all: size layout paint style;
@contain_except_size: layout paint style;

@font-face {
  font-family: "symbol-icons";
  src: url("atom://atom-ide-outline/styles/symbol-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// same font as editor
.font-common() {
  font-size: var(--editor-font-size);
  font-family: var(--editor-font-family);
  line-height: var(--editor-line-height);
}

@padding-h: 10px;
@padding-v: 2px;

@fold-width: 8px;

.atom-ide-outline {
  display: flex;
  flex-direction: column;

  .outline-content {
    contain: @contain_except_size;

    // centers the content
    flex-grow: 1;
    flex-shrink: 1;

    overflow: auto;
    & > ul {
      width: fit-content;
    }

    --editor-tab-length: 4; // default
    --level-indent-size: 16px;
    --indent-level: 0; // initial

    ul {
      contain: @contain_except_size;
      list-style-type: none;
      padding: 0;

      .font-common();

      li > span {
        contain: @contain_except_size;
        display: inline-block;
        width: 100%;
        padding: @padding-v @padding-h;
        white-space: nowrap;

        padding-left: ~"calc(var(--editor-tab-length) * var(--level-indent-size) * var(--indent-level) + @{padding-h} + @{fold-width})";

        // highlight on hover
        &:hover {
          contain: @contain_except_size;
          cursor: pointer;
          background: @background-color-highlight;
        }
      }

      // highlight when the editor cursor is on them
      li[cursorOn] {
        contain: @contain_except_size;
        background: @background-color-highlight;

        &.after-border {
          border-bottom: 1px solid #71844c;
        }
      }
    }

    .outline-fold-btn {
      contain: @contain_except_size;
      display: inline-block;
      position: relative;
      width: @fold-width;
      margin: 0 0 0 -@fold-width;
      padding: 0;
      opacity: 1;
      border: none;
      background-color: inherit;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      font-family: "Octicons Regular";
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;

      &.collapsed::before {
        contain: @contain_except_size;
        content: "\f078";
      }

      &.expanded::before {
        contain: @contain_except_size;
        content: "\f0a3";
      }
    }

    .large-file-mode {
      contain: @contain_except_size;
      list-style-type: none;
      padding: @padding-v @padding-h;
      .font-common();
      color: #71844c;
    }

    .status {
      contain: @contain_except_size;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 @component-padding;

      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .outline-toolbar {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
  }
  .outline-searchbar {
    padding: 8px 15px;
  }
}
